/* || Reset */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || Global Variables */

:root {
    --ff-roboto: 'Roboto', sans-serif;

    --fw-normal: 400;
    --fw-bold: 700;

    --clr-clearblue: #eff6ff;
    --clr-profileyellow: #facc15;
    --clr-card: #f0b429;
    --clr-body: #334155;
}

/* || Dashboard */

body {
    font-family: var(--ff-roboto);
}

.container {
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 10rem 1fr;
    grid-row: auto 1fr;
    height: 100vh;
}

.heading {
    background-color: rgb(255, 255, 255);
    grid-column: 2/3;
    padding: 1rem 2rem;
}

input[type=text] {
    width: 70%;
    background-color: #dbeafe;
    padding: 0.5rem;
    border-radius: 10rem;
    border: none;
    
}

header svg {
    width: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search, .login {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search {
    flex-grow: 1;
}

.subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.login img {
    width: 40px;
    height: 40px;
    background-color: var(--clr-profileyellow);
    border-radius: 50%;
}

.login p {
    font-weight: var(--fw-bold);
}


.profile-greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: var(--fw-bold);
}

.profile-greeting img {
    width: 50px;
    height: 50px;
    background-color: var(--clr-profileyellow);
    border-radius: 50%;
}

h1 {
    font-size: 1.5rem;
}

.greeting {
    font-size: 0.8rem;
}

.buttons ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.buttons ul a {
    background-color: rgb(80, 112, 255);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 10rem;
    text-decoration: none;
    font-size: 0.8rem;
    /* flex-wrap: wrap; */
}


/* || ASIDE */

aside{
    background-color: #3b82f6;
    grid-column: 1/2;
    grid-row: 1/3;
    color: white;
    fill: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.logo svg {
    width: 2rem;
}

ul li svg {
    width: 1rem;
}

ul li p {
    font-weight: var(--fw-bold);
}

nav ul li, .nav-settings ul li  {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}


/* || MAIN */


main {
    background-color: var(--clr-clearblue);
    grid-column: 2/3;
    padding: 3rem 1rem 6rem 1rem;
    display: grid;
    grid-template-columns: 1fr 15rem;
    gap: 1rem;
    box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-weight: var(--fw-bold);
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.project-cards {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(16.25rem, 1fr ));    
}

.card-project {
    border-left: 8px solid var(--clr-card);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.card-heading{
    font-weight: var(--fw-bold);
    margin-bottom: 0.5rem;
}

.card-project-body {
    color: var(--clr-body);
    font-size: 0.8rem;
    line-height: 1.25rem;
    /* add ellipsis for overflow text */
    text-overflow:ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.card-icons svg {
    width: 1.5rem;
    height: fit-content;
    
}

.card-announcement {
    font-size: 0.8rem;
    line-height: 1.125rem;
}

/* add bottom border to the middle announcments, padding to top and bottom ...  */
.announcement-group:not(:first-child) {
    padding-top: 1rem;
}

.announcement-group:not(:last-child)  {
    border-bottom: 1px solid var(--clr-body);
    padding-bottom: 1rem;
}


.announement-title {
    font-weight: var(--fw-bold);

}

.announcement-body {
    color: var(--clr-body);
}

.side-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* justify-content: space-between; */
}

/* || TRENDING */

section img {
    width: 40px;
    height: 40px;
    background-color: var(--clr-profileyellow);
    border-radius: 50%;
}

.card-trending {
    display: grid;
    gap: 1.25rem;
}

.trending {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
}

.handle {
    margin-bottom: 0.25rem;
}

.handle + p {
    color: var(--clr-body);
}